# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- There different types of languages for data science
- There are different tools and packages to use as a data scientist
- Jupyter Notebook supports numerous languages in different kernels
- We have different libraries to work with as data scientists

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Scikit- Learn
2. Keras
3. Tensorflow
4. PyTorch

Data Science Tools


|  Data Science Tools |
| :- | 
| JupyterNotebook |
| RStudio |
| GoogleColab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Awofiranye Oluwatimilehin Moses